<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to My Web Page</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f0f0f0;
            font-family: Arial, sans-serif;
        }
        .container {
            text-align: center;
            color: black;
        }
        .datetime {
            font-size: 18px;
            color: #05fc43;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="title">
            DevOps Task ({{ date }})
        </div>
        <div class="datetime" id="datetime">
            <!-- JavaScript to display current date and time -->
        </div>
    </div>

    <script>
        function updateTime() {
            var today = new Date();
            var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
            var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
            var dateTime = date+' '+time;
            document.getElementById('datetime').innerHTML = dateTime;
        }
        // Initial call to display the time immediately
        updateTime();
        // Update the time every second
        setInterval(updateTime, 1000);
    </script>
</body>
</html>
